<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Elliot's SQL Server -->
		<add name="SQL"
			 connectionString="Server=195.62.221.62;Database=Ableworld;User Id=Elliot;Password=1234;Encrypt=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />

	</connectionStrings>
</configuration>